*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('media/background.png');
}
#logo{
    margin-top: 1rem;
    margin-left: 4rem;
}
#line {
    width: 94%;    
    height: 1px;
    background-color: black;
    margin-top: 10px;
    margin-left: 3%;
}